html {
    background-color:aquamarine;
}
h1 {
    margin: 4 4;
    padding: 5px;
    color: #0b0235;
    text-shadow: 3px 3px 1px black;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    text-align: center;
}
body {
  margin: 0 auto;
  padding: auto auto auto auto;
  font-family: Arial, sans-serif;
  text-align: center;
}
h2 {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
}
h3 {
    font-family: "Roboto", sans-serif;
    color: purple;
    font-size: 30px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}
li {
  color: rgb(139, 52, 11);
  font-style: oblique;
  padding: 5px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}
img {
  display: block;
  margin: 0 auto;
  max-width:100%;
  border-radius: 8px;
  border-style: ridge;
  box-shadow: 0cqmax blueviolet;
}
label {
    font: 
    1rem "Fira Sans",
    sans-serif;
}
input {
    margin: 0.4rem
}
audio {
    box-sizing: border-box;
    align-content: center;
}
footer {
text-align: right;
font-size: 16px;
}

.container {
  margin-top: 10%;
}

button {
      --glow-color: rgb(217, 176, 255);
      --glow-spread-color: rgba(191, 123, 255, 0.781);
      --enhanced-glow-color: rgb(231, 206, 255);
      --btn-color: rgb(100, 61, 136);
      border: 0.25em solid var(--glow-color);
      padding: 1em 3em;
      color: var(--glow-color);
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      background-color: var(--btn-color);
      border-radius: 1em;
      outline: none;
      box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.74em 0.25em var(--glow-color);
      text-shadow: 0 0 0.5em var(--glow-color);
      position: relative;
      transition: all 0.3s;
    }

 button::after {
      pointer-events: none;
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--glow-spread-color);
      filter: blur(2em);
      opacity: 0.7;
      transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
    }

    button:hover {
      color: var(--btn-color);
      background-color: var(--glow-color);
      box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    }

    button:active {
      box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    }
div class

.snowflake {
width:10px;
height:10px;
border-radius: 50%;
left: 50%;
position: absolute;
background: white;
animation: snowEffect 5s ease-in-out infinite;
top:-10px;
}

@keyframes snowEffect{
0% {
top: 0
;}
25%
{
margin-left: -25px;
}

50%
{margin-left: 25px;}

75% {
opacity: 1;}

100% {
top: 100vh;
opacity: 0;}
}

//ceva de aici în jos n-a mers
.season-btn {
  padding: 20px 40px;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: background 0.3s;
}

.spring { background: #77dd77; }
.summer { background: #fdfd96; color: #000; }
.autumn { background: #ffb347; }
.winter { background: #aec6cf; }

.season-btn:hover {
  opacity: 0.8;
}